@import '../../colours.scss';

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: $white;
  opacity: 0.4;
  transition: all 0.2s ease;
  &:hover {
    opacity: 1;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}