@import '../../colours.scss';

.button {
  padding: 0.6em 1em;
  background-color: transparent;
  color: $blue3;
  border: 1.5px solid $blue3;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0px 2px 6px rgba(black, 0.4);
  font-size: 1rem;
  transition: all 0.2s ease;

  &:hover {
    background-color: $blue3;
    color: $white;
  }
}

.button.fixed {
  width: 100%;
}